body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


h1 {
    text-align: center;
    color: #333;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.button-container {
    text-align: center; 
    margin-top: 20px; 
}


button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


#mensagem {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    border-radius: 4px;
    color: #3c763d;
    text-align: center;
}

#buscar{
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#buscar:hover {
    background-color: #0056b3;
}

#data-container {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.user-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.user-item:last-child {
    border-bottom: none; 
}

.user-info p {
    margin: 5px 0;
}

.user-info p strong {
    display: inline-block;
    width: 120px; 
    color: #333;
}


.button-container {
    margin-top: 10px;
}


.action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; 
    color: #fff;
    transition: background-color 0.3s; 
}

.edit-button {
    background-color: #007bff; 
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545; 
}

.delete-button:hover {
    background-color: #c82333;
}


#edit-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #e6e6e6;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}


#edit-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form-button-container {
    text-align: right; 
    margin-top: 20px; 
    margin-right: 20px;
}
#cancelar {
    background-color: #dc3545; 
}

#cancelar {
    background-color: #c82333;
}

#edit-form label {
    display: block;
    margin-top: 10px;
}

#edit-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

header a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

header a:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    header a {
        padding: 8px 16px;
        font-size: 14px;
        top: 10px;
        right: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

